---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---
<head>    
    <BaseHead title="Certificates" description="All my certificates to support my knowledge"></BaseHead>
</head>
<body>
    <Header title="Certificates"></Header>
</body>