---
import BasicTemplate from "../layouts/BasicTemplate.astro";
import CardsContainer from "../components/Certificates/CardContainer";
---

<BasicTemplate
    title="Certificates"
    description="All my certificates to support my knowledge"
>
    <h2>Certificates</h2>
    <CardsContainer client:load />
</BasicTemplate>
