---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FirstData from '../components/FirstMe.jsx';
import App from "../components/Cube3D.jsx"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="contenedor">
				<FirstData/>
				<div class="cubo">
					<App client:load/>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
.contenedor{
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width: 700px){
	.contenedor{
		display: flex;
		flex-direction: column;
	}
}
</style>