---
import BasicTemplate from "../layouts/BasicTemplate.astro";
import Technologies from "../components/Technologies";
---
<BasicTemplate 
title="Technologies" 
description="All my knowledge in some Technology">
<h2>Technologies</h2>
<Technologies client:load/>

</BasicTemplate>